body {
    background: repeating-radial-gradient(rgb(67, 128, 240),rgb(230, 230, 230)) no-repeat center center fixed;
    height: 100%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: rgb(1, 2, 39)
   }

html {    
    height:100%;
}

#header{
    margin: 5px;
    padding: 10px;
}

.main-img {
    display: block;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    border: solid rgb(1, 2, 39) 1px;
    border-radius: 60px;
}

.basic-info{
    font-size: 18px;
 }

 .basic-info h1{
     margin-bottom: 0px;
 }

 .basic-info p{
    margin-top: 2px;
}

.icon-wrapper{
    display: flex;
    justify-content: center;
}

.icons {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

#icon-btn{
    background-color: transparent;
    border: solid 1px;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: dejavu Sans, Arial, Verdana, sans-serif;
    color: rgb(1, 2, 39)
}

.software-eng{
    display: flex;
    flex-direction: column;
}

.software-eng p{
    margin-top: 0px;
}

.software-eng h2{
    margin-bottom: 5px;
}

#soft-btn{
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 300px;
    font-size: 20px;
    background: transparent;
    border: solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    font-family: dejavu Sans, Arial, Verdana, sans-serif;
    color: rgb(1, 2, 39)
}

.acting{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.acting p {
    margin-top: 0px;
}

.acting h2{
    margin-bottom: 5px;
}

#acting-btn{
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 300px;
    font-size: 20px;
    background: transparent;
    border: solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    font-family: dejavu Sans, Arial, Verdana, sans-serif;
    color: rgb(1, 2, 39)   
}

#footer{
    margin: 25px;
    padding: 10px;
}
